/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/dumer4
/src/dumer4.c
/src/dumer6
/src/dumer6.c
/src/dumer8
/src/dumer8.c
/src/generic_dumer
/src/isd_cmdline.c
/src/isd_cmdline.h
/src/mmt4
/src/mmt4.c
/src/mmt8
/src/mmt8.c
